body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.board-container {
    width: 100%;
    height: 100vh;
}
#board {
    background-color: black;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;   
}